{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our Hospital</h1>
    <button style="padding: 10px 20px; background-color: #007bff; color: #ffffff; border: none; border-radius: 5px; font-size: 16px;">
        <a href="/doctor_signup" style="text-decoration: none; color: inherit;">Doctor Sign Up</a>
    </button>
    <button style="padding: 10px 20px; background-color: #007bff; color: #ffffff; border: none; border-radius: 5px; font-size: 16px;">
        <a href="/signin" style="text-decoration: none; color: inherit;">Sign n</a>
    </button>

</body>
</html>